<div class="wrapper">
    <div class="title"><img src="/images/Muuvi-logo.png" alt="logo"></div>
    <form action="/auth/register" method="POST">
      <h1>Rekisteröityminen</h1>
        <div class="field">
          <input type="email" name="email" />
          <label> Sähköposti</label>
        </div>
        <div class="field">
          <input type="password" name="password" />
          <label> Salasana</label>
        </div>
        <label for='role'>Valitse rooli:
          <select name='roles' id='roles'>
          <option value='patient' selected>Potilas</option>
          <option value='nurse'>Hoitaja</option>
          </select>
        </label>
        <div class="field">
          <input type="submit" value="Tallenna">
        </div>
      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
</div>