<!DOCTYPE html>
<nav class="navigation">
  <div class="left_side_of_nav">
    <a id="mainpage" href="/etusivu_ammattilainen">
      <img id="logo" src="images/Muuvi-logo.png" alt="muuvi_logo">
    </a>
  </div>
  <div class="right_side_of_nav">
    <a href="/auth/logout" id="logout">Kirjaudu ulos</a>
    <a id="help-icon" href="#help">
      <i class="fa-solid fa-question fa-2x"></i>
    </a>
  </div>
  <div id="helpModalNurse" class="modalHelpNurse">
    <div class="modal-contentHelpNurse">
      <span class="closeHelpNurse">&times;</span>
      <h1>Käyttöopas</h1>
      <div class="helpModalFrontPageNurse">
        <h2>Etusivu:</h2>
        <h3>Yhteenveto HRV-mittauksista</h3>
        <p>Täältä löydät opiskelijan HRV-mittauksien yhteenvedon. HRV-mittaus on mittaus, joka kertoo kehon stressitasosta. Mittaukset on suoritettu Polarin urheilukellolla, sekä Kubioksen sovelluksella.</p>
        <h3>Liikuntasuunnitelma</h3>
        <p>Jos potilaalle ei ole tehtynä liikuntasuunnitelmaa, "uusi liikuntasuunnitelma" -napista pääset sen tekemään. Mikäli olet tehnyt potilaalle jo liikuntasuunnitelma, "muokkaa" -napista pääset sitä muokkaamaan. </p>
        <h3>Yhteenveto potilaan päiväkirjasta</h3>
        <p>Tässä näet minkälaisia kirjauksia potilas on tehnyt 3 kk testausjakson aikana.</p>
      </div>
  </div>
  </div>
</nav>