<!DOCTYPE html>
<nav class="navigation">
  <div class="left_side_of_nav">
    <a id="patient_list" href="/potilaslista">⟸ Potilaslista</a>
    <a id="mainpage" href="/etusivu_ammattilainen">
      <img id="logo" src="images/Muuvi-logo.png">
    </a>
  </div>
  <div class="right_side_of_nav">
    <a href="/auth/logout" id="logout">Kirjaudu ulos</a>
    <button><i class="fa-solid fa-question fa-2x"></i></button> 
  </div>
</nav>