<nav class="navigation" id="topNav">
  <a id="mainpage" href="/etusivu_opiskelija">
    <img id="logo" src="images/Muuvi-logo.png" alt="muuvi_logo">
  </a>
  <a id="info" href="#info">Infopankki</a>
  <a href="/liikuntasuunnitelma_potilas">Liikuntasuunnitelma</a>
  <a href="/aktiviteetit_ja_paivakirja">Aktiviteetit ja päiväkirja</a>
  <p id="aphorism"></p>
  <a href="/auth/logout">Kirjaudu ulos</a>
  <a id="help-icon" href="#help">
    <i class="fa-solid fa-question fa-2x"></i>
  </a>
  <a href="javascript:void(0);" class="icon" onclick="topNavFunction()">
    <i class="fa fa-bars fa-2x"></i>
  </a>
  <div id="infoModal" class="modalInfo">
    <div class="modal-contentInfo">
      <span class="closeInfo">&times;</span>
      <h1>💡Infopankki</h1>
      <h2>Linkkejä hyvinvointiin ja terveyteen:</h2>
      <div class="listOfLinks">
        <ul><a href="https://www.duodecimlehti.fi/duo50084">Sykevälivaihtelu (https://www.duodecimlehti.fi/duo50084)</a></ul>
        <ul><a href="https://thl.fi/fi/web/elintavat-ja-ravitsemus/liikunta/liikunnan-terveyshyodyt">Liikunnan tuomat terveyshyödyt (https://thl.fi/fi/web/elintavat-ja-ravitsemus/liikunta/liikunnan-terveyshyodyt)</a></ul>
        <ul><a href="https://ukkinstituutti.fi/liike-laakkeena/liikunta-ja-mielen-hyvinvointi/">Liikuntasuositukset (https://ukkinstituutti.fi/liike-laakkeena/liikunta-ja-mielen-hyvinvointi/)</a></ul>
        <ul><a href="https://ukkinstituutti.fi/liikkuminen/liikkumisen-suositukset/aikuisten-liikkumisen-suositus/">Liikunta ja mielen hyvinvointi (https://ukkinstituutti.fi/liikkuminen/liikkumisen-suositukset/aikuisten-liikkumisen-suositus/)</a></ul>
      </div>
    </div>
  </div>
  <div id="helpModal" class="modalHelp">
    <div class="modal-contentHelp">
      <span class="closeHelp">&times;</span>
      <h1>Käyttöopas</h1>
      <div class="helpModalNavigation">
        <h2>Navigaatio:</h2>
        <img id="helpModalNavigationImg" src="images/Navigation.PNG">
        <h3>Infopankki</h3>
        <p>Sisältää tietoa hyvinvointiin ja terveyteen liittyen.</p>
        <h3>Liikuntasuunnitelma</h3>
        <p>Ammattilaisen tekemä liikuntasuunnitelma löytyy täältä. </p>
        <h3>Aktiviteetit ja päiväkirja</h3>
        <p>Täältä löydät Polarin urheilukellolla suorittamasi urheilusuoritukset. Lisäksi voit tarkastella samasta näkymästä omia päiväkirjamerkintöjä. Voit lisätä myös uusia päiväkirjamerkintöjä tätä kautta. </p>
        <h3>Mietelause</h3>
        <p>Täältä löydät päivän mietelauseen. Sen myötä toivomme kasvattavamme motivaatiotasi liikuntaa kohtaan. </p>
        <h3>Kirjaudu ulos</h3>
        <p>Kirjaudu ulos palvelusta.</p>
      </div>
      <div class="helpModalFrontPage">
        <h2>Etusivu:</h2>
        <img id="helpModalFrontPageImg" src="images/FrontPage.png">
        <h3>Viimeisin HRV-mittaus</h3>
        <p>Täältä löydät viimeisimmän HRV-mittauksen. HRV-mittaus on mittaus, joka kertoo kehon stressitasosta. Mittaus on suoritettu Polarin urheilukellolla.</p>
        <h3>Päivän aktiivisuus</h3>
        <p>Urheilukello siirtää päivittäistä aktiivisuutta sivustolle. Tässä näet päivän askeleiden määrän. Suorita tavoitteita niin hyvä tulee!</p>
        <h3>Lisää uusi päiväkirjamerkintä</h3>
        <p>Kirjaa päivän mietteesi tähän. Se voi liittyä juuri suorittamaasi urheilusuoritukseen tai päivän mielialaan. Tärkeintä olisi havainnoida omaa oloa päivittäin, jotta nähdään miten mieliala kehittyy testausjakson aikana. </p>
      </div>
  </div>
</nav>