<!DOCTYPE html>
<nav class="navigation">
        <div class="left_side_of_nav">
          <button id="patient_list">⟸ Potilaslista</button>
          <img id="logo" src="kuvat/Muuvi-logo.png">
        </div>
        <div class="right_side_of_nav">
          <button><i class="fa-solid fa-question fa-2x"></i></button> 
        </div>
</nav>