<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Päiväkirja</title>
    <link rel="stylesheet" href="paivakirja_potilas.css">
    <link rel="stylesheet" href="etusivu_opiskelija.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3a9d2d734c.js" crossorigin="anonymous"></script>
  </head>
  <body> 
    <div class="grid-container">
    {{> nav_student}}
    {{{body}}}
    </div>
    <script src="/paivakirja_potilas.js"></script>
    <script src="/etusivu_opiskelija.js"></script>
  </body>
</html>