<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salasana unohtunut?</title>
    <link rel="stylesheet" href="css/forgot_pw.css">
  </head>
  <body>
   {{{body}}} 
  </body>
</html>