<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rekisteröityminen</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/3a9d2d734c.js" crossorigin="anonymous"></script>
  </head>
  <body>
   {{{body}}} 
   <script src="/register.js"></script>
  </body>
</html>