<div class="items">
    <div class="lista">
        <h2>Etunimi Sukunimi</h2>
        <table>
            <tr>
                <th>Liikuntamuoto</th>
                <th>Aika (Tunnit ja minuutit)</th>
                <th>Vapaa kuvaus</th>
            </tr>
            <tr>
                <td>Kävely</td>
                <td>30min</td>
                <td>2km kävelylenkki</td>
                <td><button type="button" id="button2">Poista</button></td>
            </tr>
            <tr>
                <td>Kävely</td>
                <td>1h 20min</td>
                <td>5km kävelylenkki</td>
                <td><button type="button" id="button2">Poista</button></td>
            </tr>
            <tr>
                <td>Kävely</td>
                <td>30min</td>
                <td>2km kävelylenkki</td>
                <td><button type="button" id="button2">Poista</button></td>
                </tr>
                <tr>
                    <td>Kävely</td>
                    <td>1h 20min</td>
                    <td>5km kävelylenkki</td>
                    <td><button type="button" id="button2">Poista</button></td>
                </tr>
        </table>
        <div class="buttons">
            <button type="button">Lisää uusi sarake</button>              
            <button type="button">Tallenna</button>
        </div>
    </div>
</div>
<div class="footer"></div>

