<div class="main">
  <div class="exercise">
      <h1>Lisää uusi liikuntasuunnitelma</h1>
      <form action="/Entries" method="post">
        <label for="exercise_type" id="exercise_type">Liikuntamuoto:</label>
        <select name="exercise_type" id="exercise_type" required>
            <option value="Kävely">Kävely</option>
            <option value="Juoksu">Juoksu</option>
            <option value="Uinti">Uinti</option>
            <option value="Voimaharjoittelu">Voimaharjoittelu</option>
            <option value="Jooga">Jooga</option>
            <option value="Pyöräily">Pyöräily</option>
            <option value="Tanssi">Tanssi</option>
            <option value="Pallopelit">Pallopelit</option>
            <option value="Ryhmäliikunta">Ryhmäliikunta</option>
        </select>
        <br>

        <label for="exercise-duration">Liikunnan kesto: (h ja min)</label>
        <input type="number" Value="0" id="exercise_duration_hour" name="exercise_duration_hour" min="0" max="24" step="1">
        <input type="number" Value="0" id="exercise_duration_minute" name="exercise_duration_minute" min="0" max="59" step="1">
        <br>
        <label for="exercise_date">Kuvaus liikunnalle:</label>
        <input type="text" name="exercise_date" id="exercise_date" maxlength="30"></input>
        <br>
        <button id="exercise_save" type="submit">Tallenna</button>
      </form>
  </div>
  <div class="exercise_history">
    <h1>Tallennettu liikuntasuunnitelma</h1>
    <ul id="exercise_entries">
      {{#each exerciseEntries}}
      <li data-id="{{this._id}}"></li>
      {{/each}}
    </ul>
    <button id="load-more">Lataa lisää</button>
  </div>
</div>

<div class="footer"></div>
