<div class="left">
  <h1 id="hrv_text">Yhteenveto HRV-mittauksista:</h1>
  <div id="hrv_chart_nurse"></div>
</div>
<div class="right">
  <h1>Liikuntasuunnitelma:</h1>
  <a id="exercise_plan_edit" href="/liikuntasuunnitelma">Uusi liikuntasuunnitelma</a>
  <h1>Yhteenveto potilaan p채iv채kirjasta:</h1>
  <button id="more_details">Tarkastele lis채채</button>
</div>
<div class="footer"></div>