<div class="left">
  <h1>Potilaan nimi: </h1>
  <h1 id="hrv_text">Yhteenveto HRV-mittauksista:</h1>
  <div id="hrv_chart"></div>
  <button id="hrv_measurement_button">Aikaisemmat mittaustulokset</button>
</div>
<div class="right">
  <h1>Liikuntasuunnitelma:</h1>
  <form>
      <textarea></textarea>
  </form>
  <a id="exercise_plan_edit" href="/liikuntasuunnitelma">Muokkaa</a>
  <h1>Yhteenveto potilaan p채iv채kirjasta:</h1>
  <div id="emojis">
    <i class="fa-regular fa-face-laugh-beam fa-3x"></i>
    <i class="fa-regular fa-face-smile-beam fa-3x"></i>
    <i class="fa-regular fa-face-grimace fa-3x"></i>
    <i class="fa-regular fa-face-frown-open fa-3x"></i>
    <i class="fa-regular fa-face-frown fa-3x"></i>
  </div>
  <button id="more_details">Tarkastele lis채채</button>
</div>
<div class="footer"></div>