<h3><i class="fas fa-book-reader"></i> StoryBooks</h3>
<div class="section">
    <p class="lead">Create public and private stories from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/login" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In
    </a>
    <a href="/auth/register" class="btn red darken-1">
        <i class="fab fa-google left"></i> Register
    </a>
</div>