<div class="items">
    <div class="lista">
        <ol>
            <li>Enni Esimerkki  15.3.2023</li>
            <li>Arbër Asiakas 14.3.2023</li>
            <li>Aaron Sukunimi 13.3.2023</li>
            <li>Enni Esimerkki  15.3.2023</li>
            <li>Arbër Asiakas 14.3.2023</li>
            <li>Aaron Sukunimi 13.3.2023</li>
            <li>Enni Esimerkki  15.3.2023</li>
            <li>Arbër Asiakas 14.3.2023</li>
            <li>Aaron Sukunimi 13.3.2023</li>
            <li>Enni Esimerkki  15.3.2023</li>
            <li>Arbër Asiakas 14.3.2023</li>
            <li>Aaron Sukunimi 13.3.2023</li>                           
        </ol>
        <div class="buttons">
            <button type="button">Valitse potilas</button>              
            <button type="button">Lisää potilas</button>
        </div>
    </div>
</div>
<div class="footer"></div>
     