<div class="wrapper">
    <div class="title"><img src="images/Muuvi-logo.png" alt="logo"></div>
    <form action="/auth/register" method="POST">
        <div class="field">
            <input type="text" name="username"  required>
            <label>Käyttäjätunnus</label>
        </div>
        <div class="field"></div>
    <label> Email
        <input type="email" name="email" placeholder="name@email.com" />
    </label>
        <div class="field">
            <input type="password" name="password" required>
            <label>Salasana</label>
        </div>
        <div class="content">
            <div class="checkbox">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Muista minut</label>
            </div>
            <div class="pass-link"><a href="#">Unohtuiko salasana?</a></div>
        </div>
        <div class="field">
            <input type="submit" value="Kirjaudu">
        </div>
    </form>
</div>