<div class="main">
  <div class="exercise">
      <form action="/Entries" method="post">
      </form>
  </div>
  <div class="exercise_history">
    <h1>Tallennettu liikuntasuunnitelma</h1>
    <ul id="exercise_entries">
      {{#each exerciseEntries}}
      <li data-id="{{this._id}}"></li>
      {{/each}}
    </ul>
    <button id="load-more">Lataa lisää</button>
  </div>
</div>

<div class="footer"></div>
