<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potilaslista</title>
    <link rel="stylesheet" href="css/nurse/frontpage_nurse.css">
    <link rel="stylesheet" href="css/nurse/patientlist.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3a9d2d734c.js" crossorigin="anonymous"></script>
  </head>
  <body> 
    <div class="grid-container">
        {{> nav_nurse_patientlist}}
        {{{body}}}
    </div>
    <script type="module" src="/frontpage_nurse.js"></script>
  </body>